# Ambiente Virtual do Python
venv/

# Arquivo de variáveis de ambiente (contém segredos)
.env

# Pasta com dados de entrada do usuário (PDFs)
reports/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc

# Arquivos de resultado gerados pelo script (opcional, mas recomendado)
*.txt
!requirements.txt